  [Configuration]
  bind_port=0.0.0.0
  debug=True
  http_port=8001
  use_sqsbackend=False
  backend_url=redis://localhost:6379
  broker_url=redis://localhost:6379
  celery_queue_pass=
  celery_queue_user=
  celery_queue_prefix=pain-user-queue
  encryption_salt=JG7ncwAacbfwPyn65fAU8vgvFzmzRNCg
  encryption_key=efutzGMyGLC5zBUSunKqwwVq8m3jVQKk
  document_bucket=pain-dev-documents-bucket
  document_bucket_access_key=AKIAZI2LFG5UL72MPPRB
  document_bucket_access_secret=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
  request_bucket=pain-dev-data-bucket
  request_bucket_access_key=
  request_bucket_access_secret=
  temporary_files=/tmp
  hdfs_master_node=localhost
  spark_namespace=userdata
  mysql_host=localhost
  mysql_user=root
  mysql_db=pain
  mysql_pass=102814
  api_url=http://localhost:8001/#
  host_url=http://localhost:3001
  local_storage=True
  spark_home=/u01/hadoop/spark
  hadoop_home=/u01/hdoop/hadoop-2.10.2
  jdk_home=/usr/lib/jvm/java-11-openjdk-amd64/
  email_user=AKIAZI2LFG5UNK3BKXJW
  email_pass=6skiaRIp0JADE3XhZbBJRaCPco8Yd6tyBT88GLfI
  email_to_override=tedy@poundpain.com
  stripe_key=sk_test_51NWP2GBkCI2KshjJMncn8OHNSpHFwUSQuL6VS28YcI9rQpntTwlqeAIv8oQ9JeoiA7kdFC1IS7xhmbp7SWFgrfG000dmBLEevA
  stripe_key_pub=pk_test_51NWP2GBkCI2KshjJ8yD42fw8oSjqeP1xNaqssbC0xAzSZO35HDl9DtZlxnPHg7bVXbBjoth3SPIN0ORSlvElATfC00rQYT3v8n
  environment=dev
  support_email=paul@poundpain.com
  appt_email_override=tedy@poundpain.com
  jenkins_url=https://jenkins.poundpain.com
  jenkins_user=service
  jenkins_pass=Ucl1rQqL35DBxNkEnPmkFCq