targets/*
pre/*
__pycache__/*
*/__pycache__/*
p/*
.queue
settings.cfg
settings.enc
requests/*
.check
version.ini
version.sh
*/*.swp
*.swp
screenshots/*
nhc-cache.json
tmp/*
common/version.py
config.js
node_modules/*
version.js
