[Configuration]
bind_port=0.0.0.0
debug=True
http_port=8001
use_sqsbackend=False
backend_url=redis://localhost:6379/2
encryption_salt=JG7ncwAacbfwPyn65fAU8vgvFzmzRNCg
encryption_key=efutzGMyGLC5zBUSunKqwwVq8m3jVQKk
document_bucket=dhd-uat-data-bucket
document_bucket_access_key=AKIAX7QGQD27RNEJCOO7
document_bucket_access_secret=
temporary_files=/tmp
hdfs_master_node=localhost
spark_namespace=userdata
mysql_host=localhost
mysql_user=root
mysql_db=dhd
mysql_pass=TG52G72LJs7aa3Qj
api_url=http://localhost:8001
local_storage=True
spark_home=/u01/hadoop/spark
hadoop_home=/u01/hdoop/hadoop-2.10.2
jdk_home=/usr/lib/jvm/java-11-openjdk-amd64/
nch_user=
nch_pass=
stripe_key=sk_test_51N815jI6QZMAfN3adBTn9RWH9mhcMPD9SjAq4nPL80JJYOFvNhLI9aq0e4KZkqCc6F2Xp5AuAHPCtEJDoadLbUxU00DovG63he
